@charset "UTF-8";
/**************************** 초기화 ********************************/
/* 여백 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0px; padding: 0px;}

/* 리스트 초기화 */
ul, ol {list-style-type: none;}

/* 링크 초기화 */
a:link    {color: #000000; text-decoration: none;}     /* 방문전 링크일때 자홍색 선없음 */
a:visited {color: #000000; text-decoration: none;}      /* 방문했던 링크일때 회색 위에선*/
a:hover   {color: #000000; text-decoration: none;}   /* 마우스오버일때 파란색 아래선 */
a:active  {color: #000000; text-decoration: none;} /* 클릭했을때 빨간색 중앙선*/ 

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/****************** 레이아웃 ***********************/
#wrap {
	margin: 0px auto;
	width: 1000px;
}

#wrap > #header {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #bfbfbf;
}

#wrap > #nav {
	/* background-color: #00ff00; */
	border-bottom: 1px solid #bfbfbf;
}

#wrap > #contents {
	/* background-color: #ff00ff; */
	/* border-bottom: 1px solid #bfbfbf; */
}

/* #wrap > #test {
	background-color: #ff00ff;
	padding: 30px 30px 20px 25px;
	margin: 40px 40px 40px 25px;
	border-bottom: 1px solid #bfbfbf;
	background: #ffffff url(../css_02/img/jung.jpg) no-repeat fixed left center;
} */

#wrap > #footer {
	margin: 5px;
	padding: 20px;
	background-color: #bfbfbf;
	text-align: center;	
	/* border: 1px solid #000000; */
}

/****************** header (로고 로그인 회원가입) ***********************/

#header > h1 {
	float: left;
	color: #79b30b;
	font-size: 35px;
	font-weight: bold;
}

#header ul {
	margin: 15px 0px 0px 0px;
	float: right;
}

#header ul > li {
	margin: 0px 0px 0px 20px;
	float: left;
	font-size: 14px;
}

/****************** nav (입사지원서 게시판 갤러리 방명록) ***********************/

#nav ul > li {
	padding: 10px 95px 10px 80px;
	float: left;
	/* border: 1px solid #000000; */
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

/****************** contents (img text) ***********************/

#contents img {
	margin: 40px 40px 40px 25px;
	float: left;
	width: 350px;
	height: 350px;
	/* border: 1px solid #000000;  */
}

#contents > h2 { 
	margin: 40px 0px 25px 0px;
	float: left;
	font-size: 20px;
	/* border: 1px solid #000000; */ 
}

#contents > p {
	float: left;
	font-size: 15px;
	/* border: 1px solid #000000; */ 
}

/****************** test (img text) ***********************/


