<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="UTF-8"> 
<title>mysite</title>
<link rel="stylesheet" href="C:\javaStudy\workspace_front\mysite\assets\css\mysite.css">
<link rel="stylesheet" href="C:\javaStudy\workspace_front\mysite\assets\css\board.css">
</head>

<body>
<div id="wrap">
	<div id="header" class="clearfix">
		<h1>	
			Mysite
		</h1>
		
		<ul class="clearfix">
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>      
	<!-- header -->
	
	<div id="nav" class="clearfix">
		<ul>
			<li><a href="">입사지원서</a></li>
			<li><a href="">게시판</a></li>
			<li><a href="">갤러리</a></li>
			<li><a href="">방명록</a></li>
		</ul>
	</div>     
	<!-- nav -->
	
	<div id="contents" class="clearfix">
		<div id="aside" class="clearfix">
			<h2>게시판</h2>
			
			<ul>
				<li><a href="">일반게시판</a></li>
				<li><a href="">댓글게시판</a></li>
				<li><a href="">첨부게시판</a></li>
			</ul>
		
		</div>
		<!-- aside -->
		<div id="main-contents" class="clearfix">
			<div id="main-contents-header" class="clearfix">
				<h3>일반게시판</h3>
				
				<ol>
					<li>홈</li>
					<li>게시판</li>
					<li>일반게시판</li>
				</ol>
			</div>
			
				
			</div>
			<!-- main-contents -->	
	</div>     
	<!-- contents -->
	
	<div id="footer">
		<p>Copyright &copy; 2020 황일영. All rights reserved</p>
	</div>    
	<!-- footer --> 
		
        
</div>
<!-- wrap -->		
</body>
    
</html>