<!DOCTYPE html>

<html lang="ko">

<head>
<meta charset="UTF-8"> 
<title>mysite>일반게시판</title>
<link rel="stylesheet" href="C:\javaStudy\workspace_front\mysite_re\assets\css\mysite_re.css">
<link rel="stylesheet" href="C:\javaStudy\workspace_front\mysite_re\assets\css\board_re.css">
</head>

<body>
<!---------------- wrap ---------------->		
<div id="wrap">
	<!---------------- header ---------------->
	<div id="header" class="clearfix">
		<h1>Mysite</h1>
		
		<ul class="clearfix">
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>      
	<!---------------- header ---------------->
	<!---------------- nav ------------------->
	<div id="nav" class="clearfix">
		<ul>
			<li><a href="">입사지원서</a></li>
			<li><a href="">게시판</a></li>
			<li><a href="">갤러리</a></li>
			<li><a href="">방명록</a></li>
		</ul>
	</div>     
	<!---------------- nav ------------------->
	<!---------------- contents -------------->
	<div id="contents" class="clearfix">
		<!---------------- aside ---------------->
		<div id="aside">
			<h2>게시판</h2>
			
			<ul>
				<li><a href="">일반게시판</a></li>
				<li><a href="">댓글게시판</a></li>
				<li><a href="">첨부게시판</a></li>
			</ul>
		</div>
		<!---------------- aside ---------------->
		<!---------------- main-contents ---------------->
		<div id="main-contents">
			<!---------------- main-contents-header ---------------->
			<div id="main-contents-header" class="clearfix">
				<h3>일반게시판</h3>
				
				<ol>
					<li>홈</li>
					<li>게시판</li>
					<li>일반게시판</li>
				</ol>
			</div>
			<!---------------- main-contents-header ---------------->
			<!------------ main-contents-search (검색창) ------------->
			<div id="main-contents-search" class="clearfix">
				<input type="text">
				<button class="btn">검색</button>
			</div>
			<!------------ main-contents-search (검색창) ------------->
			<!------------ main-contents-table (게시판) -------------->
			<div id="main-contents-table">
				<table>
					<colgroup>
						<col style="width: 80px">
						<col style="width: 250px">
						<col style="width: 100px">
						<col style="width: 150px">
						<col style="width: 150px">
						<col style="width: 80px">
					</colgroup>
					
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>글쓴이</th>
							<th>조회수</th>
							<th>작성일</th>
							<th></th>
						</tr>				
					</thead>
					
					<tbody>
						<tr>
							<td>aaaa</td>					
							<td>bbbbbbbbbbb</td>					
							<td>ccccccc</td>					
							<td>ddddddd</td>					
							<td>ddddddd</td>					
							<td>삭제</td>					
						</tr>
						<tr>
							<td>aaaa</td>					
							<td>bbbbbbbbbbb</td>					
							<td>ccccccc</td>					
							<td>ddddddd</td>					
							<td>ddddddd</td>					
							<td>삭제</td>					
						</tr>
						<tr>
							<td>aaaa</td>					
							<td>bbbbbbbbbbb</td>					
							<td>ccccccc</td>					
							<td>ddddddd</td>					
							<td>ddddddd</td>					
							<td>삭제</td>					
						</tr>
						<tr>
							<td>aaaa</td>					
							<td>bbbbbbbbbbb</td>					
							<td>ccccccc</td>					
							<td>ddddddd</td>					
							<td>ddddddd</td>					
							<td>삭제</td>					
						</tr>
						<tr>
							<td>aaaa</td>					
							<td>bbbbbbbbbbb</td>					
							<td>ccccccc</td>					
							<td>ddddddd</td>					
							<td>ddddddd</td>					
							<td>삭제</td>					
						</tr>
					</tbody>
				</table>
			</div>
			<!------------ main-contents-table (게시판) -------------->
			<!------------ main-contents-page (게시판 하단) ---------->
			<div id="main-contents-page" class="clearfix">
				<ol>
					<li><a href="">◀</a></li>
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li><a href="">6</a></li>
					<li><a href="">7</a></li>
					<li><a href="">8</a></li>
					<li><a href="">9</a></li>
					<li><a href="">10</a></li>
					<li><a href="">▶</a></li>
				</ol>
				
				<button class="btn">글쓰기</button>
			</div>
			<!------------ main-contents-page (게시판 하단) ---------->
		</div>
		<!---------------- main-contents ---------------->	
	</div>     
	<!---------------- contents ---------------->
	<!---------------- footer ----------------> 
	<div id="footer">
		<p>Copyright &copy; 2020 황일영. All rights reserved</p>
	</div>    
	<!---------------- footer ----------------> 
</div>
<!---------------- wrap ---------------->		
</body>
    
</html>